*{
  box-sizing: border-box;
  }

header{
  height: 15rem;
  color: white;
  padding: 3rem;
}
#bannerimage{
  position: relative;
  height: inherit;
  background-image: #000000 url(../images/lesson-banner-image.jpg) 100% 100% no-repeat;
  clear: both;
  background-position: center;
  z-index: -1;
  display: block;
}
.bannertext{
  text-align: left;
  position: absolute;
  top: 10%;
  right: 50%;
  color: white;
  z-index: 1;
  overflow: hidden;
}
.nav{
  color: #383B3D;
  font-family: helvetica;
  font-weight: bold;
  overflow: auto;
  background-color: lightgrey;
  padding: 0.5rem;
  margin: 2rem 3rem 3rem;
}
.link{
  color: #5DBCD2;
}
h2{
  color: #5DBCD2;
  font-family: helvetica;
}
body{
  color: #383B3D;
  font-family: helvetica;
}
h4{
  color: #5DBCD2;
  font-family: helvetica;
}
section{
  float: left;
  width: 70%;
  padding: 3rem;
  margin-right: 2%;

}
sidebar{
  float: right;
  width: 30%;
  padding: 3rem;
  margin-right: 2%;
  clear: both;
}
body,html{
  height:100%;
}
#cat-logo{
  display: block;
  position: relative;
}
#footerimage{
  position: relative;
  width: 100%;
  background-image: #000000 url(../images/lesson-banner-image.jpg) 100% 100% no-repeat;
  background-position: center;
  clear: both;
  display: block;
}
.footertext{
  text-align: center;
  position: relative;
  top: auto;
  color: white;
}
.footer{
  color: white;
  padding: .5rem;
}
.clearfix::after{
  content:"";
  display: block;
  clear: both;
}

/*book-a-cat only below*/
.column3{
  float: left;
  width: 33.33%;
  padding: 3rem;
}
.row{
  content:"";
  display: table;
  clear: both;
}
.image{
  justify-content: center;
  align-content: center;
}
