*{
  box-sizing: border-box;
  }
body,html{
  height:100%;
}
.bannertext{
  text-align: left;
  color: white;
}
header{
  color: white;
  text-align: left;
  background: url(../images/lesson-banner-image.jpg) no-repeat center 100%;
  height: 12em;
}
.nav{
  color: #383B3D;
  font-family: helvetica;
  font-weight: bold;
  overflow: auto;
  background-color: lightgrey;
  padding: 0.5rem;
}
.link{
  color: #5DBCD2;
}
h2{
  color: #5DBCD2;
  font-family: helvetica;
}
body{
  color: #383B3D;
  font-family: helvetica;
}
h4{
  color: #5DBCD2;
  font-family: helvetica;
}
section{
  float: left;
  width: 68%;
  padding: 3rem;
  margin-right: 2%;

}
sidebar{
  float: left;
  width: 28%;
  padding: 3rem;
  margin-right: 2%;
}
.sidebarcat{
  width: 175%;
}
body,html{
  height:100%;
}
.footertext{
  text-align: center;
  color: white;
}
.footerlink{
  color: white;
  padding: .5rem;
  width: 100%;
  height: 100%;
}
.clearfix::after{
  content:"";
}
footer{
  clear: both;
  background-image: url(../images/lesson-footer-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
a{
  text-decoration: none;
}
/*book-a-cat only below*/
.column3{
  float: left;
  width: 33.33%;
  padding: 3rem;
}
.row{
  content:"";
  display: table;
  clear: both;
}
.image{
  display: flex;
  justify-content: center;
  align-content: center;
}
