*{
  box-sizing: border-box;
  }
h1{
  color: cyan;
  font-family: monospace;
}
p{
  color: black;
  font-family: monospace;
  width: 75%;
}
body{
  background-color: rgba(245, 216, 0, .9);
  font-family: monospace;
}
.dimgrey-text{
  color: hsl(238, 0%, 28%);
}
.important{
  font-weight: bold;
}
.important:hover{
  background-color:pink;
}
#lead-paragraph{
  font-weight: bold;
}
#lead-paragraph:hover{
  background-color:pink;
}
a[href="https://github.com/makepeaces0/semantic-elements"]{
  padding: 1rem;
  color:hsl(197, 93%, 46%);
}
a[href="https://cdn.pixabay.com/photo/2018/07/30/18/47/blood-moon-3573264_960_720.jpg"]{
  padding: 1rem;
  color:hsl(197, 93%, 46%);
}
a[href="https://upload.wikimedia.org/wikipedia/commons/8/8e/Common_octopus_Octopus_vulgaris_%284681010396%29.jpg"]{
  padding: 1rem;
  color: hsl(197, 93%, 46%);
}
h1{
  color: hsl(197, 93%, 46%);
  border-style: solid;
  border-width: 1px;
  border-color: hsl(197, 93%, 46%);
}
img{
  border-style: solid;
  border-color: cyan;
  border-width: 1px;
  height:25%;
}
