*{
  box-sizing: border-box;
  }
body,html{
  height:100%;
}
#banner-image{
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/northbend.jpg");
  background-repeat: no-repeat;
  clear: both;
  background-position: center;
  background-size: cover;
  display: block;
  height: 15rem;
  margin-bottom: 2rem;
}
.banner-text{
  text-align: center;
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  clear:both;
}
header{
  color: white;
  font-family: 'Major Mono Display', monospace;
  text-align: center;
}
p{
  color: black;
  font-family: 'Rajdhani', sans-serif;
  font-weight: lighter;
  text-align: center;
}
body{
  font-family: 'Rajdhani', sans-serif;
  font-weight: lighter;
  text-align: center;
}
h2{
  font-family: 'Megrim', cursive;
  font-weight: lighter;
  text-align: center;
}
#email{
  color: black;
  font-weight: bold;
}
#email:hover{
  font-size: 2rem;
  transition: font-size 0.5s ease-in 0.5s;
  /* blue font color*/
  color: hsl(197, 93%, 46%);
}
a{
  text-decoration: none;
  /* yellow font color */
  color: rgb(255, 225, 0);
}
.important{
  font-weight: bold;
}
.important:hover{
  background-color:pink;
}
.lead-paragraph{
  font-weight: bold;
}
.lead-paragraph:hover{
  background-color:pink;
}
.row{
  display: flex;
  clear: both;
}
.column{
  flex: 1;
  text-align: center;
  padding: 2rem;
}

a[href="https://makepeaces0.github.io/semantic-elements/"]{
  padding: .5rem;
  color: hsl(197, 93%, 46%);
}
a[href="https://media.defense.gov/2017/Aug/24/2001797886/780/780/0/170821-F-VS255-1003.JPG"]{
  padding: .5rem;
  color: hsl(197, 93%, 46%);
}
a[href="https://makepeaces0.github.io/portfolio/cat-news.html"]{
  padding: .5rem;
  color: hsl(197, 93%, 46%);
}
.fa-palette{
  color: rgb(255, 225, 0);
}
.fa-utensils{
  color: rgb(255, 225, 0);
}
.image{
  width: 50%;
  border: 2px solid rgb(300, 280, 0);
}
.image:nth-child(2n+2){
  border: 2px solid cyan;
}
img{
  width: 100%;
}
.box:hover{
  border: 15px solid rgb(300, 280, 0);
  transition: border 0.5s ease-in 0.5s;
}
.box{
  height: 350px;
  width: 300px;
  border: 2px solid rgb(350, 280, 0);
  background: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.container{
  height: 400px;
  background-color: rgb(255, 225, 0);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  /*align items only works if you have a height or width element*/
}
