*{
  box-sizing: border-box;
  }
h1{
  color: cyan;
  font-family: monospace;
  text-align: center;
}
p{
  color: black;
  font-family: monospace;
  width: 75%;
}
body{
  background-color: rgb(250, 244, 229);
  font-family: monospace;
}
.mustard-text{
  text-align: center;
  color: hsl(48, 81%, 47%);
}
.important{
  font-weight: bold;
}
.important:hover{
  background-color:pink;
}
#lead-paragraph{
  font-weight: bold;
}
#lead-paragraph:hover{
  background-color:pink;
}
a[href="https://makepeaces0.github.io/semantic-elements/"]{
  padding: .5rem;
  color: hsl(197, 93%, 46%);
}
a[href="https://media.defense.gov/2017/Aug/24/2001797886/780/780/0/170821-F-VS255-1003.JPG"]{
  padding: .5rem;
  color: hsl(197, 93%, 46%);
}
a[href="https://upload.wikimedia.org/wikipedia/commons/8/8e/Common_octopus_Octopus_vulgaris_%284681010396%29.jpg"]{
  padding: .5rem;
  color: hsl(197, 93%, 46%);
}
h1{
  color: hsl(197, 93%, 46%);
  border-style: solid;
  border-width: 1px;
  border-color: hsl(197, 93%, 46%);
}
img{
  border-style: solid;
  border-color: cyan;
  border-width: 1px;
  width:25%;
}
